name: Build & Release
env:
  VERSION: "1.0.0"
on:
  workflow_dispatch:
    inputs:
      update_type:
        description: "What version part to increment"
        required: true
        type: choice
        default: 'patch'
        options:
          - 'major'
          - 'minor'
          - 'patch'
          - 'none'
      update_description:
        description: "Release notes (optional)"
        required: false
        type: string

jobs:
  build_release:
    environment: main_build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      actions: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Modify Version
        if: inputs.update_type != 'none'
        shell: bash
        run: |
          RAW_VERSION=$(grep "versionName =" app/build.gradle.kts | awk -F'["-]' '{print $2}')
          if [[ ! "$RAW_VERSION" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            MAJOR=1; MINOR=0; PATCH=0
          else
            IFS='.' read -r MAJOR MINOR PATCH <<< "$RAW_VERSION"
            case "${{ github.event.inputs.update_type }}" in
              major) MAJOR=$((MAJOR + 1)); MINOR=0; PATCH=0 ;;
              minor) MINOR=$((MINOR + 1)); PATCH=0 ;;
              patch) PATCH=$((PATCH + 1)) ;;
            esac
          fi
          NEW_VERSION="$MAJOR.$MINOR.$PATCH"
          sed -i -E \
            "s/versionName *= *\".*\"/versionName = \"$NEW_VERSION-\$currentGitHash\"/" \
            app/build.gradle.kts
          echo "VERSION=$NEW_VERSION" >> "$GITHUB_ENV"

      - name: Push to Repo
        if: inputs.update_type != 'none'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add app/build.gradle.kts
          git commit -m "[skip ci] chore: bump version to ${{ env.VERSION }}" || exit 0
          git push

      - name: Get Version Only
        if: inputs.update_type == 'none'
        run: |
          RAW_VERSION=$(grep "versionName =" app/build.gradle.kts | awk -F'["-]' '{print $2}')
          echo "VERSION=$RAW_VERSION" >> "$GITHUB_ENV"

      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Write key
        run: |
          if [ ! -z "${{ secrets.KEYSTORE }}" ]; then
            {
              echo "" >> gradle.properties
              echo KEYSTORE_PASSWORD='${{ secrets.KEYSTORE_PASSWORD }}'
              echo KEY_ALIAS='onHit'
              echo KEY_PASSWORD='${{ secrets.KEY_PASSWORD }}'
              echo KEYSTORE_FILE='key.jks'
            } >> gradle.properties
            echo ${{ secrets.KEYSTORE }} | base64 -d > key.jks
          fi

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew assembleDebug assembleRelease

      - name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: onHit-v${{ env.VERSION }}-debug
          path: app/build/outputs/apk/debug/*

      - name: Upload Release APK
        uses: actions/upload-artifact@v4
        with:
          name: onHit-v${{ env.VERSION }}-release
          path: app/build/outputs/apk/release/*

      - name: Packing Mapping
        run: |
          MAPPING_OUTPUT_DIR="app/build/outputs/mapping"
          if [ -d $MAPPING_OUTPUT_DIR ]; then
            zip -r mapping.zip $MAPPING_OUTPUT_DIR
          else
            echo "No mapping directory found, skip packing"
            zip mapping.zip /dev/null
          fi

      - name: Move release files
        run: |
          mkdir -p release_assets
          cp app/build/outputs/apk/debug/*.apk release_assets/
          cp app/build/outputs/apk/release/*.apk release_assets/
          mv mapping.zip release_assets/

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.VERSION }}
          name: v${{ env.VERSION }}
          body: |
            ## v${{ env.VERSION }}            
            ${{ inputs.update_description }}

            
          draft: false
          prerelease: false
          append_body: true
          generate_release_notes: true
          files: "release_assets/*"
        
      - name: Parse Version from Filename
        id: parse_version
        if: github.repository == '0penPublic/onHit'
        run: |
          FULL_PATH=$(find release_assets/ -name "*-release.apk" | head -n 1)
          if [ -z "$FULL_PATH" ]; then
            echo "Error: No APK file found in release_assets/"
            exit 1
          fi
          FILENAME=$(basename "$FULL_PATH")
          echo "Found file: $FILENAME"
          TEMP_STR=${FILENAME#onHit-}
          TEMP_STR=${TEMP_STR%-release.apk}
          VC=${TEMP_STR##*-}
          VN=${TEMP_STR%-*}
          XMR_TAG="${VC}-${VN}"
          echo "Extracted VersionCode: $VC"
          echo "Extracted VersionName: $VN"
          echo "Target XMR Tag: $XMR_TAG"
          echo "xmr_tag=$XMR_TAG" >> $GITHUB_OUTPUT
          echo "version_name=$VN" >> $GITHUB_OUTPUT
          rm -rf release_assets/mapping.zip

      - name: Fetch Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        id: fetch_release
        if: github.repository == '0penPublic/onHit'
        run: |
          TARGET_TAG="v${{ env.VERSION }}"
          echo "Target Tag to sync: $TARGET_TAG"
          REL_JSON=$(gh release view "$TARGET_TAG" --json body,name)
          REL_NAME=$(echo "$REL_JSON" | jq -r '.name')
          REL_BODY=$(echo "$REL_JSON" | jq -r '.body')
          echo "rel_name=$REL_NAME" >> $GITHUB_OUTPUT
          echo "rel_body<<EOF" >> $GITHUB_OUTPUT
          echo "$REL_BODY" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      
      - name: Upload to Xposed Repo
        uses: softprops/action-gh-release@v2
        if: github.repository == '0penPublic/onHit'
        with:
          repository: Xposed-Modules-Repo/mba.vm.onhit
          token: ${{ secrets.XPOSED_MODULES_REPO_PUBLISH_TOKEN }}
          tag_name: ${{ steps.parse_version.outputs.xmr_tag }}
          name: ${{ steps.fetch_release.outputs.rel_name || steps.parse_version.outputs.version_name }}
          body: ${{ steps.fetch_release.outputs.rel_body }}
          files: "release_assets/*"
          draft: false
          prerelease: false
      
      - name: Send To Telegram Group
        if: github.repository == '0penPublic/onHit'
        env:
            TELEGRAM_BOT_TOKEN: ${{secrets.TELEGRAM_BOT_TOKEN}}
        run: |
            wget https://raw.githubusercontent.com/0penPublic/onHit/refs/heads/misc/telegram_on_hit_ci_bot.py
            python3 -m pip install python-telegram-bot==22.5
            python3 telegram_on_hit_ci_bot.py "${{ env.VERSION }}"
